<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img className="logo" src='./class-logo.svg' alt="logo" class="d-inline-block align-top" alt="">
        <ul>
            <li><a href="/">Welcome</a></li>
            {{#if student}}
            <li><a href="/profile">{{student.first_name}}'s Profile</a></li>
            <li><a href="/tracker">Class Tracker</a></li>
            <li><a href="/report">Report Health Status</a></li>
            <li><a href="/appt">Request Appointment</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Welcome!</h1>
            <p class="lead">This is the UVA CS 4750 COVID-19 Tracker. With an account you can: report a positive test,
                request an appointment at a UVA hospital,
                or view reported class cases to help keep you and our classmates safe.</p>
            <hr class="my-4">
            <p>Contact tracing has been used for decades by state and local health departments to slow or stop the
                spread of infectious diseases.</p>
            <a class="btn btn-primary btn-lg"
                href="https://www.cdc.gov/coronavirus/2019-ncov/faq.html#:~:text=Contact%20tracing%20has%20been%20used,information%20%2D%20Credit%20card%20numbers"
                role="button">Learn more</a>
            <a class="btn btn-primary btn-lg" href="https://covid-19-app-17f14.web.app/" role="button">World COVID-19
                Tracker</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>