<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img className="logo" src='./class-logo.svg' alt="logo" class="d-inline-block align-top" alt="">
        <ul>
            <li><a href="/">Welcome</a></li>
            {{#if student}}
            <li><a href="/profile">{{student.first_name}}'s Profile</a></li>
            <li><a href="/tracker">Class Tracker</a></li>
            <li><a href="/report">Report Health Status</a></li>
            <li><a href="/appt">Request Appointment</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">UVA CS 4750 COVID Tracker</h1>
            <p class="lead">This data pertains to this class only.</p>
            <hr class="my-4">
            <p>Do your part and update your health status below!</p>
            <a class="btn btn-primary btn-lg" href="/report" role="button">Update Health Status</a>
        </div>
    </div>
    <div class="container mt-4">
        <input id="search-input" class="form-control" type="text" placeholder="Search filter...">
        <h2>{{title}}</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th data-column="date" data-order="desc" scope="col">Date &#9650</th>
                    <th data-column="location" data-order="desc" scope="col">Location &#9650</th>
                    <th data-column="status" data-order="desc" scope="col">Status &#9650</th>
                    <th data-column="severity" data-order="desc" scope="col">Severity &#9650</th>
                    <th data-column="symptoms" data-order="desc" scope="col">Symptoms &#9650</th>
                </tr>
            </thead>
            <tbody id="myTable">

            </tbody>
        </table>

        <script>
            var myArray = [
                {
                    'id': '1',
                    'date': '2020 - 11 - 17',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '1',
                    'symptoms': 'Fever'
                },
                {
                    'id': '2',
                    'date': '2020 - 11 - 17',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '2',
                    'symptoms': 'null'
                },
                {
                    'id': '3',
                    'date': '2020 - 11 - 17',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '3',
                    'symptoms': 'null'
                },
                {
                    'id': '4',
                    'date': '2020 - 11 - 26',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '2',
                    'symptoms': 'null'
                },
                {
                    'id': '5',
                    'date': '2020 - 11 - 18',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '2',
                    'symptoms': 'null'
                },
                {
                    'id': '6',
                    'date': '2020 - 11 - 18',
                    'location': 'On Grounds',
                    'status': 'recovered',
                    'severity': '1',
                    'symptoms': 'null'
                },
                {
                    'id': '7',
                    'date': '2020 - 11 - 18',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '1',
                    'symptoms': 'null'
                },
                {
                    'id': '8',
                    'date': '2020 - 11 - 18',
                    'location': 'On Grounds',
                    'status': 'recovered',
                    'severity': '2',
                    'symptoms': 'null'
                },
                {
                    'id': '9',
                    'date': '2020 - 11 - 18',
                    'location': 'On Grounds',
                    'status': 'positive',
                    'severity': '2',
                    'symptoms': 'Fever'
                },
                {
                    'id': '10',
                    'date': '2020 - 11 - 18',
                    'location': 'Not On Grounds',
                    'status': 'positive',
                    'severity': '2',
                    'symptoms': 'Chills, Fever'
                }
            ]

            $('#search-input').on('keyup', function () {
                var value = $(this).val()
                console.log('Value:', value)
                var data = searchTable(value, myArray)
                buildTable(data)
            })

            buildTable(myArray)


            $('th').on('click', function () {
                var column = $(this).data('column')
                var order = $(this).data('order')
                var arrow = $(this).html()
                arrow = arrow.substring(0, arrow.length - 1) //remove arrow

                if (order == 'desc') {
                    $(this).data('order', "asc")
                    myArray = myArray.sort((a, b) => a[column] > b[column] ? 1 : -1)
                    arrow += '&#9660' //hex for down arrow
                } else {
                    $(this).data('order', "desc")
                    myArray = myArray.sort((a, b) => a[column] < b[column] ? 1 : -1)
                    arrow += '&#9650'
                }
                $(this).html(arrow)
                buildTable(myArray)
            })

            function searchTable(value, data) {
                var filteredData = []

                for (var i = 0; i < data.length; i++) {
                    value = value.toLowerCase() //make non case sensitive
                    var date = data[i].date.toLowerCase()
                    var location = data[i].location.toLowerCase()
                    var status = data[i].status.toLowerCase()
                    var severity = data[i].severity.toLowerCase()
                    var symptoms = data[i].symptoms.toLowerCase()

                    if (date.includes(value) || location.includes(value) || status.includes(value) || severity.includes(value) || symptoms.includes(value)) {
                        filteredData.push(data[i])
                    }
                }

                return filteredData
            }

            function buildTable(data) {
                var table = document.getElementById('myTable')
                table.innerHTML = ''
                for (var i = 0; i < data.length; i++) {
                    var row = `<tr>
                        <td>${data[i].date}</td>
                        <td>${data[i].location}</td>
                        <td>${data[i].status}</td>
                        <td>${data[i].severity}</td>
                        <td>${data[i].symptoms}</td>
                    </tr>`
                    table.innerHTML += row
                }
            }

        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>